@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1,
.title-font {
	font-family: 'Pacifico', cursive;
}

p,
.text-font {
	font-family: 'Noto Sans JP', cursive;
}

.fill-red-500 {
	fill: #ef4444;
}

.animate-pulse {
	animation: pulse 0.6s ease-in-out;
}

@keyframes pulse {

	0%,
	100% {
		transform: scale(1);
	}

	25%,
	75% {
		transform: scale(1.1);
	}

	50% {
		transform: scale(1.3);
	}
}

.animate-fade {
	animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in;
	animation-delay: 0s, 2.5s;
	animation-fill-mode: forwards;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-15px) scale(0.95);
	}

	60% {
		opacity: 1;
		transform: translateY(0) scale(1.02);
	}

	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0) scale(1);
	}

	to {
		opacity: 0;
		transform: translateY(-20px) scale(0.95);
	}
}

.fade-in {
	animation: fadeIn 300ms ease-out;
	animation-fill-mode: forwards;
}

.fade-out {
	animation: fadeOut 400ms ease-in;
	animation-fill-mode: forwards;
}

.notification {
	position: absolute;
	top: -10px;
	right: -60px;
	background-color: #ffdd7d;
	color: #5f363a;
	padding: 8px 12px;
	border-radius: 8px;
	font-size: 14px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-out 3s forwards;
}

.notification::before {
	content: '';
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	border-width: 6px;
	border-style: solid;
	border-color: transparent #ffdd7d transparent transparent;
}